<form (ngSubmit)="submitQuote(quoteForm)">
  <div class="form-group">
    <label for="name">Nome do produto</label>
    <input
      label="Nome do produto"
      name="name"
      type="text"
      class="form-control"
      id="name"
      required
      maxlength="50"
      pattern="[a-zA-Z]*"
      ngModel
    />
    <label for="med">Unidade de medida</label>
    <select class="form-control" name="medida" required>
      <option value="0"></option>
      <option value="1">Litro</option>
      <option value="2">Quilograma</option>
      <option value="3">Unidade</option>
    </select>
    <ng-container *ngIf="medida === 0">
      teste
    </ng-container>
    <ng-container *ngIf="medida === 1">
      <label for="qtd">Quantidade</label>
      <input type="number" class="form-control" />
    </ng-container>
    <label for="price">Preço</label>
    <input type="price" class="form-control" id="price" name="price" required />
    <span>Produto perecível</span>
    <div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          ng-model="perecivel"
          value="yes"
          required
        />
        <label class="form-check-label" for="inlineRadio1">Sim</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          ng-model="perecivel"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="no"
        />
        <label class="form-check-label" for="inlineRadio2">Não</label>
      </div>
    </div>
    <label for="dateval">Data de validade</label>
    <input type="date" class="form-control" id="dateval" *ngIf="inlineRadioOptions == 'yes' ? '!required' : 'required'" />
    <label for="datefab">Data de fabricação</label>
    <input type="date" class="form-control" id="datefab" required name="datafab"/>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
