<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Desafio Angular</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="d-flex col-md-2">
      <ul>
        <button (click)="list()" id="list" class="btn btn-block">Produtos</button>
        <button (click)="insert()" class="btn btn-block">Inserir</button>
      </ul>
    </div>
    <ng-container *ngIf="showall">
      <div app-list></div>
    </ng-container>
    <ng-container *ngIf="show">
      <div app-add></div>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</div>
